ipykernel
pytorch_lightning
torchmetrics
timm
transformers
opencv-python
scikit-image
pillow
pandas
matplotlib
numpy
einops
requests
ipywidgets
kornia
keras
datetime
lpips
wget
gdown
webdataset
fairscale